<!DOCTYPE html>
<html lang="en">
<head>
  <title>Set Alert</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Nunito:600,700,900" rel="stylesheet">
<style>
    #body {
  font-family: 'Nunito';
background-color:white;
height: 100px;

}
#login-card{
    width:350px;
    border-radius: 25px;
    margin:150px auto;
    background-color:#656669;
    color: yellow;

  
}

#email{
    border-radius:30px;
    background-color: #ebf0fc;
    border-color: #ebf0fc;
    color: #9da3b0;
}

#button{
    border-radius:30px;
    background-color: teal;
}

#btn{
   position: absolute; 
   bottom: -35px; 
   padding: 5px;
   margin: 0px 55px;
   align-items: center;
   border-radius: 5px;
   
}
#container{
    margin-top:25px;
}

.btn-circle.btn-sm { 
            width: 40px; 
            height: 40px; 
            padding: 2px 0px; 
            border-radius: 25px; 
            font-size: 14px; 
            text-align: center;
            
            margin: 8px;
        }

</style>
</head>
<body id="body">
<center><div id="alert">{{ alert }}</div></center>
<form action="/" >
<div  id = "back" style="position: absolute; top: 10px; right: 10px;"><button class="btn" style="background-color: yellow; border-radius: 20px;border-color: rgba(0, 0, 0, 0.753);border-width: 2px;"> Go back </button></div></a>
</form>
<div id="login-card" class="card">
<div class="card-body">
  <h2 class="text-center">Set Alert</h2>
  <br>
  <form method="POST" name = "AlertForm" action="/alert_mail" onsubmit="return validateForm()" >
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <input type= "number" class="form-control" id="email" placeholder="Enter pincode eg: 110077" name="pincode">
    </div>
    <div class="form-group">
        <input type= "text" class="form-control" id="email" placeholder="Vaccine (Covishield or Covaxin)" name="vaccine">
      </div>
      <div class="form-group">
        <input type= "text" class="form-control" id="email" placeholder="Fee type (Paid or Free)" name="fee">
      </div>
    <button type="submit" id="button" class="btn btn-primary deep-purple btn-block " >Submit</button>
<br>
   
    <div id="btn" class="text-center">
   <button type="button" class="btn btn-primary btn-circle btn-sm"><i class="fa fa-facebook"></i></button>
   <button type="button" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-google"></i></button>
   <button type="button" class="btn btn-info btn-circle btn-sm"><i class="fa fa-twitter"></i></button>
   </div>

  </form>
</form>
<center>

</div>
<div>
</head>
<script>
  function validateForm() {
  var email = document.forms["AlertForm"]["email"].value;
  var pincode = document.forms["AlertForm"]["pincode"].value;
  var vaccine = document.forms["AlertForm"]["vaccine"].value;
  var fee = document.forms["AlertForm"]["fee"].value;
  if((email == "" && pincode == "") || (email == "" && fee == "") ||(email == "" && vaccine == "") || (pincode == "" && fee == "") || (pincode == "" && vaccine == "") || (vaccine == "" && fee == "") ){
    alert("All boxes must be filled out");
    return false;
  }
  else if (email == " ") {
    alert("Please enter your email address.");
    return false;
  }
  else if(pincode == ""){
    alert("Please enter the pincode.");
    return false;
  }
  else if(vaccine == ""){
    alert("Please enter vaccine type (Covishield or Covaxin).");
    return false;
  }
  else if(fee == ""){
    alert("Please enter your fee type (Free or Paid ).");
    return false;
  }
}


function redirect(){
  window.location.href = "Alert.html";
}
  </script>
